@model Diner2.Restuarant

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
        <h1> "Welcome To MIkes Joint"</h1>
        <p>"Click Below to Menu"</p>
        @Html.ActionLink("Menu", "Menu")
    </div>
</body>
</html>
